{% extends 'core/base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container my-4">
    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center mt-1 mb-4">
            <h1 class="display-5">{{ title }}</h1>
        </div>
        <div class="col-lg-6 col-md-9 col-sm-12 p-3 border rounded shadow">
            <form action="{% url 'core:manage_tags' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_formset formset %}
                <button type="submit" class="btn btn-primary w-100">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}            